/*.container1{
    color: coral;
    width: 200px;
    padding: 50px;
    margin: 20px;
}*/
.div1{
    border:15px solid black;
    color: coral;
    
    padding: 50px;
    margin: 20px;
}
.div2{
    border:15px solid black;
    color: coral;
    
    padding: 50px;
    margin: 20px;
}
.div3{
    border:15px solid black;
    color: coral;
    
    padding: 50px;
    margin: 20px;
}
.container1{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
